.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  height: 150rem;
}

.navbar{
  background: transparent;
}
#logo{
  width: 10rem;
}
#profileImg{
  margin-left: 30%;
  width: 22rem;
  height: 30rem;
}
.rowB{
  margin-left: 10%;
  margin-top: 10rem;
}
.rowB1{
  margin-left: 10%;
  margin-top: 10rem;
}
.rowC{
  margin-left: 25%;
  margin-top: 20rem;
}
.rowC1{
  margin-left: 25%;
  margin-top: 20rem;
}
.rowD{
  margin-left: 25%;
  margin-top: 30rem;
}
.rowD1{
  margin-left: 25%;
  margin-top: 30rem;
}
.colA{
  margin-top: 10rem;
}
.profileName{
  font-size: 2.5rem;
  margin-left: 10%;
}